@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
	background-color: #eee;
}

@theme {
	--font-roboto: 'Roboto', sans-serif;
	--font-robotomono: 'Roboto Mono', sans-serif;
	--font-golos: 'Golos Text', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--shadow-item: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	--shadow-btn: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	--color-contrast: #d14e15;

	--color-middle-grey: #797c85;
	--color-checkbox-dot: var(--color-contrast);
}
